{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}TeaStore{% endblock %}</title>
        <link href="{% static "css/teastore.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            TeaStore - proste widoki HTML
            <span class="actions">
                <a href="{% url 'tea-list-html' %}">Lista herbat</a>
                {% if user.is_staff or user.is_superuser %}
                    <a href="{% url 'tea-create-html' %}">Dodaj herbate</a>
                {% endif %}
                {% if user.is_staff or user.is_superuser %}
                    <a href="{% url 'category-list-html' %}">Kategorie</a>
                    <a href="{% url 'category-create-html' %}">Dodaj kategorie</a>
                    <a href="{% url 'origin-list-html' %}">Pochodzenia</a>
                    <a href="{% url 'origin-create-html' %}">Dodaj pochodzenie</a>
                {% endif %}
                <a href="{% url 'order-list-html' %}">Zamowienia</a>
                <a href="{% url 'order-create-html' %}">Dodaj zamowienie</a>
                <a href="{% url 'order-item-list-html' %}">Pozycje zamowien</a>
                <a href="{% url 'order-item-create-html' %}">Dodaj pozycje zamowienia</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'user-logout' %}">Wyloguj</a>
                {% else %}
                    <a href="{% url 'user-login' %}">Zaloguj</a>
                {% endif %}
            </span>
        </div>
        <hr/>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
